<p><a href="/google_calendars">Check google_calendars</a></p>

<h1>Google Contacts</h1>

<% for(var i = 0 ; i < feed.feed.entry.length ; i++ ) {

var contact = feed.feed.entry[i]; %>
<div>

    <!-- you can access much more ! Just a sample: -->
    <h2> <%= contact["title"]["$t"] %>
        <small><%= JSON.stringify((contact["gd$email"])) %></small>
    </h2>

</div>


<% } %>
